name: CI

on:
  workflow_dispatch:

jobs:
  build-kernel:
    name: Build Kernel
    runs-on: ubuntu-20.04
    steps:
      - name: Build
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/Chococatpp/android_kernel_samsung_msm8917_Q
          branch: main
          config: j4corelte_defconfig
          arch: arm
          aosp-gcc: true
          python-2.7: true
          android-version: 12
          aosp-clang-version: r383902
